body{
	background: green;
}
body .container{
	width: 90%;
}

/******* Tableau du haut voir Bootstrap table responsive: http://getbootstrap.com/css/#tables *******/

#table-produits-in table{
width: 100%;
}

#table-produits-in td, #table-produits-in th {
    padding: 5px 15px;
}

/******** Début section2 **********/
#product-section2 select.form-control, #product-section2 input[type=range]{
	margin: 2%;
	width: 50%;
	display: inline-block;
}

#product-section2{
	display: block;
}
#product-section2 .form-info{
	background-color: orange; //changer les oranges pour votre orange
	border-radius: 50%;
	padding: 5px 10px;
	text-align: center;
	margin-right: 2%;
}
#product-section2 h3.ajout-produit span{
	background-color: blue;  //à changer pour votre bleu
	padding: 0 5px;
	margin-left: 1%;
}
#product-section2 div label{
	display: inline-block;
}
#product-section2 input, #product-section2 select{
	display: inline-block;
}
#product-section2 form{
	width: 100%;
}
#product-section2 .form-line{
	margin: 40px 0;
	padding: 10px 0;
	display: block;
	float: none;
}

#product-section2 .ui-slider{
	margin-left: 5%;
	height: 2px;
	margin: 30px 0 30px 5%;
	width: 50%;
	
}
#product-section2  .ui-state-default{
	background: rgba(255,255,255,0) url("../mapicone.png") no-repeat;
	border: none;
	width: 25px;
	height: 25px;
}
#product-section2 .ui-corner-all{
	border-radius: 0;
}
:focus{
	outline: none;
}
#product-section2 .ui-slider-horizontal .ui-slider-handle{
	top: -1.6em;
}

/* icone: <div>Icons made by <a href="http://www.flaticon.com/authors/scott-de-jonge" title="Scott de Jonge">Scott de Jonge</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
*/
#product-section2 .placeholder{
	color: grey;
}
#product-section2 select option:first-child{
	color: grey; 
	display: none;
}
#product-section2 select option{
	color: #555;
} /* bootstrap default color*/

/************************************/

#product-section2 .product-date{
	display: inline-block;
}


/* Medium devices (desktop, large tablets, less than 1024px include Ipad) */
@media (max-width: $screen-md-max){

}



/* Small devices (tablets and large phone, less than 768px) tablet smaller than Ipad*/
@media screen and (max-width: $screen-sm-max){

}

/* Extra small devices (small phones, less than 481px) 480 load on a landscape Iphone */
@media (max-width: $screen-xs-max){

}



